name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up Python
      uses: actions/setup-python@v2.3.0
      with:
        python-version: 3.9
    - name: Install Poetry and add to path
      run: |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
        echo "${HOME}/.local/bin" >> $GITHUB_PATH
    - name: Configure poetry
      run: |
        poetry config virtualenvs.create true
        poetry config virtualenvs.in-project true
    - name: Cache poetry venv
      uses: actions/cache@v2
      id: poetry-cache
      with:
        path: .venv
        key: venv-${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
        restore-keys: venv-${{ runner.os }}-poetry-
    - name: Ensure cache is healthy
      if: steps.poetry-cache.outputs.cache-hit == true
      shell: bash
      run: timeout 10s poetry run pip --version || rm -rf .venv
    - name: Install Dependencies
      run: |
        echo "{steps.poetry-cache.outputs.cache-hit}"
        poetry install -E pydantic
    - name: mypy check
      run: |
        poetry run mypy camel_converter
  testing:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.3.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry and add to path on Windows
      if: matrix.os == 'windows-latest'
      run: |
        (Invoke-WebRequest -Uri https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py -UseBasicParsing).Content | python -
        echo "${HOME}\AppData\Roaming\Python\Scripts" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        echo ${HOME}\AppData\Roaming\Python\Scripts
    - name: Install Poetry and add to path on Mac and Linux
      if: matrix.os != 'windows-latest'
      run: |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
        echo "${HOME}/.local/bin" >> $GITHUB_PATH
    - name: Poetry configuration
      if: matrix.python-version == '3.10'  # Poetry installs are currently failing with the experimental installer on 3.10
      run: |
        poetry config experimental.new-installer false
    - name: Configure poetry
      run: |
        poetry config virtualenvs.create true
        poetry config virtualenvs.in-project true
    - name: Configure poetry Python 3.10
      if: matrix.python-version == '3.10.0-beta - 3.10.0'  # Poetry installs are currently failing with the experimental installer on 3.10
      run: |
        poetry config experimental.new-installer false
    - name: Cache poetry venv
      uses: actions/cache@v2
      id: poetry-cache
      with:
        path: .venv
        key: venv-${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
        restore-keys: venv-${{ runner.os }}-poetry-
    - name: Ensure cache is healthy
      if: steps.poetry-cache.outputs.cache-hit == true
      shell: bash
      run: timeout 10s poetry run pip --version || rm -rf .venv
    - name: Install Dependencies
      run: poetry install -E pydantic
    - name: Test with pytest
      run: |
        poetry run pytest --cov=camel_converter --cov-report=xml
    - name: Upload coverage
      uses: codecov/codecov-action@v2.1.0
      with:
        fail_ci_if_error: true
